.tab {
    border-radius: 10px;
    overflow: hidden;

    position: relative;

    width: 100%;
    transition: opacity 0.3s linear;
    &:hover {
        cursor: pointer;
    }
}

.empty {
    background-color: var(--black-400);
}

.thumbnail {
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.icon {
    position: absolute;
    right: 8px;
    top: 8px;
    $dimension: 24px;
    width: $dimension;
    height: $dimension;
    opacity: 0.3;
}

.modal {
    background: linear-gradient(to bottom, transparent, var(--black-800));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.metadata {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 8px;
    .favicon {
        $dimension: 24px;

        width: $dimension;
        height: $dimension;
        border-radius: 4px;
    }

    .title {
        font: var(--typo-meta-m);
        color: var(--white-900);
        letter-spacing: var(--typo-letter-spacing-large);
    }
}