.container {
    height: 100%;
    background-color: var(--black-900);
    border-radius: 12px;
    overflow: hidden;

    .llms {
        display: flex;
        gap: 64px;
        align-items: center;
        justify-content: center;
    }

    .llmWrapper {
        $verPadding: 32px;
        padding-top: $verPadding;
        padding-bottom: $verPadding;
        $transition: opacity 0.3s ease-in-out;
        transition: $transition;
        display: flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        opacity: 0.4;

        &.active, &:hover {
            opacity: 1;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .contentWrapper {
        margin-top: -16px;
        height: 100%;

        & > * {
            background-color: var(--black-800);
        }
    }
}