@use './variables' as *;  /* re‑exports vars/mixins into this file’s scope */

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: var(--black-800);
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}