.wrapper {
    background-color: var(--main_primary);
    border-radius: 5px;
    padding: 32px 48px;
    margin: 64px;
    width: fit-content;
    min-width: 30%;
    max-width: 60%;
    position: relative;
}

.wrapper::before {
    content: '';
    width: 32px;
    height: 32px;
    background-color: var(--main_primary);
    transform: translateY(50%) rotateZ(45deg);
    position: absolute;
    border-radius: 0 0 5px 0;
    bottom: 0;
}

.wrapper.left::before {
    left: 32px;
}

.wrapper.right {
    margin-left: auto;
    text-align: right;
}

.wrapper.right::before {
    right: 32px;
}
