.container {
    $accentColor: var(--white-700);
    $semiColor: var(--white-500);

    width: 100%;
    height: 50vh;

    display: flex;
    justify-content: space-between;

    .previewWrapper, .threadsWrapper {
        width: 50%;
    }

    .threadsWrapper {     
        $svgWidth: 24px;

        .wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 16px;

        }

        $threadGap: 8px;

        .group {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .groupLabel {
            padding-left: calc($svgWidth + $threadGap);
            font: var(--typo-meta-s);
            letter-spacing: var(--typo-letter-spacing-large);
            color: $semiColor;
        }

        .thread {
            padding: 6px 0;
            display: flex;
            align-items: center;
            gap: $threadGap;
            color: $accentColor;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
            .title {
                font: var(--typo-meta-m);
                letter-spacing: var(--typo-letter-spacing-large);
            }
        }

        .top {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            svg {
                color: $accentColor;
            }
        }

    }

    .previewWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        font: var(--typo-meta-l);
        letter-spacing: var(--typo-letter-spacing-large);
        color: $semiColor;
        box-shadow: 0 0 24px $semiColor inset;
        border-radius: 10px;
    }
}