.container {
    $accentColor: var(--white-700);
    $gap: 16px;
    $llmWidth: 128px;
    $sidePadding: 64px;
    $font: var(--typo-meta-m);
    $letterSpacing: var(--typo-letter-spacing-large);

    padding-left: $sidePadding;
    padding-right: $sidePadding;
    width: calc(100% - $sidePadding * 2);
    height: 100%;
    font: $font;
    letter-spacing: $letterSpacing;
    color: $accentColor;

    display: flex;
    flex-direction: column;
    gap: $gap;

    .top, .bottom {
        display: flex;
        justify-content: space-between;
    }

    .top {
        align-items: flex-end;
    }

    .models {
        $gap: 8px;
        width: $llmWidth;

        p {
            //is model
            padding: calc($gap / 2) 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}