.container {
    height: 100%;

    .wrapper {
        height: 100%;
        
        overflow-y: scroll;
        white-space: nowrap;
        scrollbar-width: none;  // Firefox
        -ms-overflow-style: none;  // IE and Edge

        scroll-snap-type: y mandatory;
        overscroll-behavior-y: contain;

        &::-webkit-scrollbar {
            display: none;  // Chrome, Safari, and Opera
        }

        & > * {
            scroll-snap-align: center;
        }

        & > * {
            // is wrapper {
            height: 100%;
            scroll-snap-align: center;
        }
    }

    .secondWrapper {
        margin-top: 16px;
    }

}
