.container {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.medium {
    $dimension: 40px;
    $arrow-size: 16px;

    width: $dimension;
    height: $dimension;

    svg {
        height: $arrow-size;
        width: $arrow-size;
    }
}

.small {
    $dimension: 24px;
    $arrow-size: 10px;

    width: $dimension;
    height: $dimension;

    svg {
        height: $arrow-size;
        width: $arrow-size;
    }
}

.up {
    transform: rotateZ(0deg);
}

.down {
    transform: rotateZ(180deg);
}

.dark {
    $bg-color: var(--white-900);
    $accent-color: var(--black-900);

    background-color: $bg-color;

    svg path {
        stroke: $accent-color;
    }
}

.light {
    $bg-color: var(--black-900);
    $accent-color: var(--white-900);

    background-color: $bg-color;

    svg path {
        stroke: $accent-color;
    }
}